{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">Modifica profilo</h1>
  <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Menu profilo</h5>
        </div>
        <div class="list-group list-group-flush">
          <a href="{% url 'account:profile' %}" class="list-group-item list-group-item-action">Visualizza profilo</a>
          <a href="{% url 'account:profile_update' %}" class="list-group-item list-group-item-action active">Modifica profilo</a>
          <a href="{% url 'account:orders' %}" class="list-group-item list-group-item-action">I miei ordini</a>
          <a href="{% url 'account:change_password' %}" class="list-group-item list-group-item-action">Cambia password</a>
          <a href="{% url 'account:logout' %}" class="list-group-item list-group-item-action text-danger">Esci</a>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Modifica dati personali</h5>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label fw-bold">Username:</label>
              <input type="text" class="form-control" value="{{ user.username }}" readonly>
            </div>
            <div class="mb-3">
              <label for="id_first_name" class="form-label fw-bold">Nome:</label>
              <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ user.first_name }}">
            </div>
            <div class="mb-3">
              <label for="id_last_name" class="form-label fw-bold">Cognome:</label>
              <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ user.last_name }}">
            </div>
            <div class="mb-3">
              <label for="id_email" class="form-label fw-bold">Email:</label>
              <input type="email" class="form-control" id="id_email" name="email" value="{{ user.email }}">
            </div>
            <button type="submit" class="btn" style="background-color:rgb(170, 131, 75); color:rgb(253, 240, 218);">Salva modifiche</button>
            <a href="{% url 'account:profile' %}" class="btn btn-secondary">Annulla</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}